.repoDetails {
	padding: 16px;
	background-color: #70b2cc33;
	height: 100vh;
}
.repoName {
	font-size: 34px;
	line-height: 40px;
}
.repoLicense {
	color: #36ab16;
	font-size: 34px;
	margin-top: 15px;
}
.repoDescription {
	font-size: 22px;
	line-height: 40px;
}
