.form{
  padding: 20px 100px;
  display: flex;
  gap: 20px;
}
.input{
  width: 100%;
}
.button{
  background-color: #2196F3;
  color: #fff;
  border-radius:4px;

  padding:8px, 22px, 8px, 22px
}
.direction{
  display: flex;
  padding-left: 100px;
  gap: 50px;
}
.sort{
  color:red
}